
.entity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2.5em;
}

.entity-container {
    position: relative;
    width: 100px;
    height: 120px;
}

.entity-item {

    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    gap: 2px;
    width: 100px;
    height: 100%;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    background-color: #202124;

    &:hover {
        z-index: 99;
    }

    .item-icon {
        min-width: 76px;
        height: 96px;
        opacity: 0.65;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &.collected {
            opacity: 1;
            filter: brightness(1.1);
        }
    }

    .tips {
        display: flex;
        flex-direction: column;
    }
}

.bubble {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #202124;
    border: 2px solid white;
    transform: translate(-50%, 0); 
    box-sizing: border-box;
    z-index: 200;
    border-radius: 50%;
    overflow: hidden;
    animation: pop 1s ease-in-out forwards;
    transition: top 2s ease-in-out, left 2s ease-in-out, width 2s ease-in-out, height 2s ease-in-out, border-width 2s ease-in-out;

    &.shrink {
        width: 0px;
        height: 0px;
        border-width: 0px;
    }

    &.hidden {
        display: none;
    }

    > div {
        width: 60px;
        height: 60px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    @keyframes pop {
        0% {
            width: 80px;
            height: 80px;
        }
        10% {
            width: 100px;
            height: 100px;
        }
        100% {
            width: 80px;
            height: 80px;
        }
    }
}