
.entity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2.5em;
}

.entity-container {
    position: relative;
    width: 100px;
    height: 120px;

    &.entity-pop-anim {
        animation: entity-container-pop-anim 1s ease-in-out forwards;
    }

    &.up-anim {
        animation: up-anim 0.25s ease-in-out forwards;
    }

    &.show .entity-item {
        visibility: visible;
    }

    &.bright .item-icon {
        opacity: 1;
        filter: brightness(1.1);
    }

    @keyframes entity-container-pop-anim {
        from {
            transform: scale(1.2);
        }
        to {
            transform: scale(1);
        }
    }

    @keyframes up-anim {
        from {
            transform: translateY(-20px);
        }
        to {
            transform: translateY(0px);
        }
    }
}

.entity-item {

    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    gap: 2px;
    width: 100px;
    height: 100%;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    background-color: #202124;
    visibility: hidden;

    &:hover {
        z-index: 99;
    }

    .item-icon {
        min-width: 76px;
        height: 96px;
        opacity: 0.65;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tips {
        display: flex;
        flex-direction: column;
    }
}