
.entity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin-left: 5em;
    margin-right: 5em;

    @media (max-width: 512px) {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    margin-top: 1em;
}

.reset-button {
    margin-top: 0.5em;
}