
.search-bar {
    display: flex;
    height: 3em;
    min-height: 48px;
    margin-top: 2em;
    max-width: 400px;
    width: 100%;
    gap: 0.25em;

    @media (max-width: 725px) {
        margin-top: 3em;
    }

    button {
        cursor: pointer;
        background-color: transparent;
        color: white;
        border-radius: 0;
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        min-width: 4em;
    }
}