
$search-bar-b-radius: 0.5em;

.search-bar {
    display: flex;
    height: 3em;
    margin-top: 3em;
    max-width: 400px;
    width: 100%;
    gap: 0.25em;

    input[type="text"] {
        flex-grow: 1;
        background-color: transparent;
        font-family: inherit;
        font-size: 1.2em;
        color: white;
        border-radius: 0;
        border-top-left-radius: $search-bar-b-radius;
        border-bottom-left-radius: $search-bar-b-radius;
        outline: 0;
        padding: 0.5em;
    }

    button {
        cursor: pointer;
        background-color: transparent;
        color: white;
        border-radius: 0;
        border-top-right-radius: $search-bar-b-radius;
        border-bottom-right-radius: $search-bar-b-radius;
        min-width: 4em;
    }
}