.border-anim {
    border: 12px solid transparent;
    border-image: url('./assets/border/border-round-0.png') 40 round;
    animation: border 1.5s step-end infinite;
}

.border-anim-hover {
    border: 12px solid transparent;
    border-image: url('./assets/border/border-round-0.png') 40 round;
    

    &:hover {
        animation: border 1.5s step-end infinite;
    }
}

.border-static {
    border: 12px solid transparent;
    border-image: url('./assets/border/border-round-0.png') 40 round;
}

.border-1 {
    border: 12px solid transparent;
    border-image: url('./assets/border/border-round-0.png') 40 round;
}

.border-2 {
    border: 12px solid transparent;
    border-image: url('./assets/border/border-round-1.png') 40 round;
}

@keyframes border {
    50% {
        border-image-source: url('./assets/border/border-round-0.png');
    }
    0% {
        border-image-source: url('./assets/border/border-round-1.png');
    }
}