
@font-face {
    font-family: 'Neucha';
    src: local('Neucha'), url('/fonts/Neucha-Regular.ttf') format('opentype');
}

.hide {
    display: none !important;
}

a {
    color: rgb(0, 183, 255) !important;
    text-decoration: none;
}

body {
    background-color: #202124;
    color: white;
    font-family: 'Neucha', 'Open Sans', sans-serif;
    font-size: 16px;
    
    * {
        box-sizing: border-box;
    }
}

.font-alt {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.row {
    display: flex;
    flex-direction: row;
}

.collumn {
    display: flex;
    flex-direction: column;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-left-buttons {
    position: fixed;
    display: flex;
    gap: 0.25em;
    top: 0.25em;
    left: 0.25em;
}