
@mixin entity($width, $height, $bottom: 0px) {
    position: absolute;
    background-image: linear-gradient(to left, red, blue);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 100%;
    width: $width;
    height: $height;
    bottom: $bottom;
    right: -$width;
    display: none;
}

@mixin move($speed: 1) {
    animation: move calc(5s / $speed) linear forwards;
    display: block;
}

.car {
    @include entity(133px, 60px);

    &.car-normal {
        background-image: url('./assets/images/car.gif')
    }

    &.car-sunny {
        background-image: linear-gradient(to left, orange, yellow)
    }

    &.car-cold {
        background-image: linear-gradient(to left, blue, aqua)
    }

    &.move {
        @include move(1);
    }
}

.person_normal {
    @include entity(28px, 56px, 26px);
    @include move(0.5);
}

.collectable {
    cursor: pointer;
}

.collected {
    filter: drop-shadow(0 0 1.5px yellow);
}

@keyframes move {
    100% {
        right: 100%;
    }
}