
@mixin entity($width, $height, $bottom: 0px) {
    position: absolute;
    background-image: linear-gradient(to left, red, blue);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 100%;
    width: $width;
    height: $height;
    bottom: $bottom;
    right: -$width;
    display: none;
}

@mixin move($speed: 1) {
    animation: move calc(5s / $speed) linear forwards;
    display: block;
}

@mixin spritesheet-anim($sprites, $frames, $time: 1s, $loop: false) {
    background-image: $sprites;
    background-size: calc(100% * $frames) 100%;

    animation: sprite-anim;
    animation-duration: $time;
    @if $loop {
        animation-iteration-count: infinite;
    } @else {
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    animation-timing-function: steps(calc($frames - 1));

    @keyframes sprite-anim {
        from { background-position: 0%; }
        to { background-position: 100%; }
    }
}

.car {
    @include entity(133px, 60px);
    background-image: url('./assets/images/car.gif');

    &.car-sunny {
        background-image: linear-gradient(to left, orange, yellow)
    }

    &.car-cold {
        background-image: linear-gradient(to left, blue, aqua)
    }

    &.move {
        @include move(1);
    }
}

.person {
    @include entity(28px, 56px, 38px);
    background-image: url('./assets/images/person.gif');

    &.sunny {
        background-image: linear-gradient(to left, orange, yellow)
    }

    &.cold {
        background-image: linear-gradient(to left, blue, aqua)
    }

    &.move {
        @include move(0.5);
    }
}

.bird {
    @include entity(25px, 25px, 124px);
    background-image: url('./assets/images/bird-thicc.gif');

    &.bird-sunny {
        background-image: linear-gradient(to left, orange, yellow)
    }

    &.bird-cold {
        background-image: linear-gradient(to left, blue, aqua)
    }

    &.move {
        @include move(0.65);
    }
}

.bike {
    @include entity(66px, 66px, 21px);
    background-image: url('./assets/images/bike.gif');

    &.bike-sunny {
        background-image: linear-gradient(to left, orange, yellow)
    }

    &.bike-cold {
        background-image: linear-gradient(to left, blue, aqua)
    }

    &.move {
        @include move(0.85);
    }
}

.tree {
    background-image: url('./assets/images/tree.gif');
    background-size: 100% 100%;
    position: absolute;
    top: 51px;
    left: 239px;
    width: 65px;
    height: 65px;
}

.collectable {
    cursor: pointer;
}

.collected {
    filter: drop-shadow(0 0 1.5px yellow);
}

.particle {
    position: absolute;
    width: 120px;
    height: 120px;
    pointer-events: none;

    @include spritesheet-anim(url('../src/assets/images/particles-sprites.png'), 4, 0.2s)
}

.background {
    background: url('../src/assets/images/background.gif') no-repeat;
    background-position: top left;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

@keyframes move {
    100% {
        right: 100%;
    }
}